<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('label.instruction.analysis.define.template')}" />
		</ui:define>
		<ui:define name="body">
			<p:panelGrid columns="2" styleClass="width100percent">
				<h:outputText value="#{facesContext.translate('label.name')}" />
				<p:inputText id="name" value="#{functionselectionModel.templateBean.name}" required="true" requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.name')}" />
				<h:outputText value="#{facesContext.translate('label.description')}" />
				<p:inputTextarea id="descr" value="#{functionselectionModel.templateBean.description}" styleClass="inputTextareaLarge"/>
			</p:panelGrid>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_approve" action="#{functionselectionController.doCreateTemplate}" value="#{facesContext.translate('button.approve')}" ajax="false"
				title="#{facesContext.translate('button.add.template')}" />
			<p:commandButton id="btn_cancel" action="#{functionselectionController.toWelcome}" value="#{facesContext.translate('button.cancel')}" immediate="true" ajax="false" />
		</ui:define>
		<ui:define name = "help_de">
			<p>
			Hier können Sie eine neue Funktionsauswahl erstellen. <br /><br />
			<b>Name:</b> Geben Sie hier den Namen der neuen Funktionsauswahl ein. <br />
			<b>Beschreibung:</b> Geben Sie hier eine kurze Beschreibung der neuen Funktionsauswahl ein. <br /><br />
			Klicken Sie auf <i>Übernehmen</i>, um die Eingaben zu speichern. Anschließend können Sie die Funktionsauswahl erstellen. <br /><br />
			Klicken Sie auf <i>Abbrechen</i>, um zur Übersicht zurückzukehren. Achtung: Änderungen werden beim Klicken auf <i>Abbrechen</i> nicht 	
			gespeichert. 
			</p>	
		</ui:define>
	</ui:composition>
</h:body>
</html>
