<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('label.instruction.analysis.copy.template')}" />
		</ui:define>
		<ui:define name="body">
			<p:panelGrid columns="2" styleClass="width100percent">
				<h:outputText value="#{facesContext.translate('label.analysis.existingtemplate')}" />
				<p:selectOneMenu id="parent" value="#{functionselectionModel.templateBean.parent}" filter="true">
					<f:selectItems value="#{functionselectionModel.matrix.templateList}" var="l" itemValue="#{l.fkFunctionlist}" itemLabel="#{l.name}" />
				</p:selectOneMenu>
				<h:outputText value="#{facesContext.translate('label.name')}" />
				<p:inputText id="name" value="#{functionselectionModel.templateBean.name}" required="true" requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.name')}" />
				<h:outputText value="#{facesContext.translate('label.description')}" />
				<p:inputTextarea id="descr" value="#{functionselectionModel.templateBean.description}" styleClass="inputTextareaLarge"/>
			</p:panelGrid>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_approve" action="#{functionselectionController.doCopyTemplate}" value="#{facesContext.translate('button.approve')}" ajax="false"
				title="#{facesContext.translate('button.add.template')}" />
			<p:commandButton id="btn_cancel" action="#{functionselectionController.toWelcome}" value="#{facesContext.translate('button.cancel')}" immediate="true" ajax="false" />
		</ui:define>
		<ui:define name="help_de">
			<p>
			Hier können Sie eine bestehende Funktionsauswahl kopieren. <br /><br />
			<b>Vorlage für Kopie:</b> Wählen Sie in der Dropdownliste die Funktionsauswahl aus, die Sie kopieren möchten. Im Suchfeld können Sie
			durch Texteingabe nach einer Funktionsauswahl suchen. <br />
			<b>Name:</b> Geben Sie hier den Namen der neuen Funktionsauswahl ein. <br />
			<b>Beschreibung:</b> Geben Sie hier eine kurze Beschreibung der neuen Funktionsauswahl ein. <br /><br />
			Klicken Sie auf <i>Übernehmen</i>, um die Eingaben zu speichern. Anschließend können Sie die Funktionsauswahl erstellen.<br /><br />
			Klicken Sie auf <i>Abbrechen</i>, um zur Übersicht der Funktionsauswahlen zurückzukehren. Achtung: Änderungen werden beim Klicken auf
			<i>Abbrechen</i> nicht gespeichert. 
			</p>
		</ui:define>
	</ui:composition>
</h:body>
</html>
