<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/pridiatemplate.xhtml">
		<ui:define name="body">
			<p:panel header="#{facesContext.translate('label.instruction.analysis.choose.template')}">
				<p:dataTable id="list" value="#{functionselectionModel.matrix.templateList}" var="t">
					<p:column headerText="#{facesContext.translate('label.name')}" filterable="true" filterMatchMode="contains" filterBy="#{t.name}" sortBy="#{t.name}" sortable="true"
					          styleClass="column-name">
						<h:outputText value="#{t.name}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.description')}" filterable="true" filterMatchMode="contains" filterBy="#{t.description}" sortBy="#{t.description}" sortable="true"
					          styleClass="column-description">
						<h:outputText value="#{t.description}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.cloned')}"
					          styleClass="column-yesno" > <!-- TODO: what does this information help? hide it so far. -->
						<h:outputText value="#{facesContext.translate(t.isAbstract ? 'label.no' : 'label.yes')}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.actions')}" styleClass="threeiconbuttons">
						<ship:buttongroup>
							<p:commandButton id="btn_show" action="#{functionselectionController.toShow(t)}" icon="fa fa-info-circle" value="" title="#{facesContext.translate('button.show')}" styleClass="iconbutton" />
							<p:commandButton id="btn_edit" action="#{functionselectionController.toEdit(t)}" icon="fa fa-pencil" value="" title="#{facesContext.translate('button.edit')}" styleClass="iconbutton" />
							<ship:removeButton id="btn_remove" action="#{functionselectionController.doRemoveTemplate(t)}" value="" tooltip="#{facesContext.translate('button.remove')}"
								title="#{facesContext.translate('title.delete.approve')}" approveButtonLabel="#{facesContext.translate('button.yes')}" cancelButtonLabel="#{facesContext.translate('button.no')}">
								<h:outputText value="#{facesContext.translate('confirmation.delete', t.name)}" />
							</ship:removeButton>
						</ship:buttongroup>
					</p:column>
				</p:dataTable>
			</p:panel>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_add" action="#{functionselectionController.toAdd}" value="#{facesContext.translate('button.add.template')}" ajax="false" />
			<p:commandButton id="btn_clone" action="#{functionselectionController.toClone}" value="#{facesContext.translate('button.clone.template')}" ajax="false" />
		</ui:define>
		<ui:define name = "help_de">
			<p>
				Um einen Qualitätsbericht zu erstellen, benötigen Sie eine Funktionsauswahl und eine Berichtsvorlage. In der Kopfzeile wird Ihnen angezeigt, in welchem Unterbereich Sie sich befinden. <br /> Klicken Sie auf <i>Berichtsdesign</i>, um zum Bereich
				Berichtsdesign zu wechseln. <br /> <br /> Im Bereich <b>Funktionsauswahl</b> können Sie Zusammenstellungen von Funktionen für die Datenqualitätsanalysen erstellen oder bearbeiten. Eine Funktionsauswahl enthält alle statistischen Funktionen, die bei
				der Erstellung eines Qualitätsberichtes verwendet werden können. <br /> <br /> Um die Erstellung einer neuen Auswahl von Funktionen zu erleichtern, können Sie auch eine bestehende Auswahl kopieren und anpassen.
			</p>
			<p>
				<b> <i>Tabelle</i> </b><br /> <br /> Die Tabelle enthält Namen und Beschreibungen der bisher erstellten Auswahlen von Funktionen. <br /> Außerdem können Sie sehen, ob die Funktionsauswahl durch Kopie einer bestehenden Funktionsauswahl erstellt wurde.<br /><br />
				Klicken Sie auf das <i>Pfeil</i>-Symbol in der Kopfzeile der Tabelle, um die zugehörige Spalte alphabetisch oder rückwärts-alphabetisch zu sortieren. Die Pfeilrichtung in der Kopfzeile zeigt Ihnen an, in welcher Reihenfolge die Spalte sortiert ist. Im Suchfeld können Sie durch Texteingabe nach einem Namen oder einer Beschreibung suchen.<br />
				<br /> Klicken Sie auf das <i> Info </i> -Symbol, um anzuzeigen, in welchen Berichten die Funktionsauswahl verwendet wird.<br />
				<br /> Klicken Sie auf das <i>Stift</i>-Symbol, um eine Funktionsauswahl anzuzeigen oder zu bearbeiten. <br />
				<br /> Klicken Sie auf das <i>Papierkorb</i>-Symbol, um eine Funktionsauswahl zu löschen.
			</p>
			<p>
				<b>Fußzeile</b> <br /> Klicken Sie auf <i>Funktionsauswahl hinzufügen</i>, um eine neue Funktionsauswahl zu erstellen. <br />
				<br /> Klicken Sie auf <i>Funktionsauswahl klonen</i>, um eine bestehende Funktionsauswahl zu kopieren.
			</p>
		</ui:define>
	</ui:composition>
</h:body>
</html>
