<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
  <ui:composition template="/pages/primodaltemplate.xhtml">
    <ui:define name="title">
      <h:outputText value="#{facesContext.translate('title.statistic.functionregistrator')}" />
    </ui:define>
    <ui:define name="body">
      <p:staticMessage severity="warn" summary="#{facesContext.translate('warn')}" detail="#{facesContext.translate('warn.statistic.import.package')}" />
      <h:panelGrid columns="2">
        <h:outputText value="#{facesContext.translate('label.statistic.import.packagename')}" />
        <p:inputText value="#{statisticModel.packageName}" />
        <h:outputText value="#{facesContext.translate('label.statistic.import.baseurl')}" />
        <p:inputText value="#{statisticModel.baseUrl}" />
        <h:outputText value="#{facesContext.translate('label.statistic.import.isocodes')}" />
        <p:inputText value="#{statisticModel.isocodes}" />
      </h:panelGrid>
    </ui:define>
    <ui:define name="formbuttons">
      <p:commandButton id="btn_approve" action="#{statisticController.doCallFunctionRegistrator}" value="#{facesContext.translate('button.import')}" ajax="false" />
      <p:commandButton id="btn_cancel" action="#{statisticController.toWelcome}" value="#{facesContext.translate('button.cancel')}" immediate="true" ajax="false" />
    </ui:define>
  </ui:composition>
</h:body>
</html>