.snipplettype0 {
	font-size: smaller;
}

.snipplettype1 {
	font-size: large;
}

.snipplettype2 {
	background-color: silver;
}

.snipplettype3 {
	background-color: silver;
}

.snipplettype4 {
	font-size: medium;
}