<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" 
xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/pridiatemplate.xhtml">
		<ui:define name="formless">
			<p:dialog id="infodialog" modal="true" widgetVar="infodialog">
				<f:facet name="header">
					<h:outputText value="#{facesContext.translate('title.study.show', cohortModel.study.name)}" />
				</f:facet>
				<h:panelGrid columns="2" rowClasses="odd, even" columnClasses="table-cell-key, table-cell-value" styleClass="max90vw">
					<h:outputText value="#{facesContext.translate('label.study.parent')}" />
					<h:outputText value="#{cohortModel.study.parentName}" />
					<h:outputText value="#{facesContext.translate('label.study.name')}" />
					<h:outputText value="#{cohortModel.study.name}" />
					<h:outputText value="#{facesContext.translate('label.study.description')}" />
					<ship:outputTranslation value="#{cohortModel.study.translation}" ignoreLocale="true" />
					<h:outputText value="#{facesContext.translate('label.study.startdate')}" />
					<h:outputText value="#{cohortModel.study.startDate}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
					<h:outputText value="#{facesContext.translate('label.study.designfeature')}" />
					<h:outputText value="#{cohortModel.study.designfeature}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
					<h:outputText value="#{facesContext.translate('label.study.participants')}" />
					<h:outputText value="#{cohortModel.study.participants}" />
					<h:outputText value="#{facesContext.translate('label.study.uniquename')}" />
					<h:outputText value="#{cohortModel.study.uniqueName}" />
					<c:forEach items="#{cohortModel.study.attributes}" var="sa">
					  <h:outputText value="#{sa.key}" />
					  <ship:outputJson value="#{sa.jsonValue}" />
					</c:forEach>
				</h:panelGrid>
				<f:facet name="footer">
					<div class="center" style="width: 100%">
						<p:button value="#{facesContext.translate('button.ok')}" onclick="PF('infodialog').hide()" />
					</div>
				</f:facet>
			</p:dialog>
		</ui:define>
		<ui:define name="body">
			<p:panel header="#{facesContext.translate('label.instruction.cohort.choose.study')}">
				<p:dataTable id="datacollections" value="#{cohortModel.studies}" var="s">
					<p:column id="parent" headerText="#{facesContext.translate('label.study.parent')}" sortBy="#{s.parentName}" filterBy="#{s.parentName}" filterMatchMode="contains" styleClass="column-name">
						<h:outputText value="#{s.parentName}" />
					</p:column>
					<p:column id="name" headerText="#{facesContext.translate('label.study.name')}" sortBy="#{s.name}" filterBy="#{s.name}" filterMatchMode="contains" styleClass="column-name">
						<h:outputText value="#{s.name}" />
					</p:column>
					<p:column id="description" headerText="#{facesContext.translate('label.study.description')}" sortBy="#{s.translation}" filterBy="#{s.translation}" filterMatchMode="contains" styleClass="column-description">
						<ship:outputTranslation value="#{s.translation}" showIsoBadge="false" />
					</p:column>
					<p:column id="buttons" headerText="#{facesContext.translate('label.actions')}" styleClass="column-four-buttons">
						<ship:buttongroup>
							<p:commandButton id="btn_info" action="#{cohortController.doShow(s)}" title="#{facesContext.translate('button.show')}" icon="fa fa-info-circle" oncomplete="ship.processed();PF('infodialog').show()" onclick="ship.processing()" update="infodialog"
								styleClass="iconbutton" />
							<ship:iconButton id="btn_edit" action="#{cohortController.toEdit(s)}" hint="#{facesContext.translate('button.edit')}" iconAwesome="pencil" immediate="true" rendered="#{s.canWrite}" />
							<ship:iconButton id="btn_user" action="#{cohortController.toUser(s)}" hint="#{facesContext.translate('button.user')}" iconAwesome="group" immediate="true" rendered="#{s.canWrite}" />
							<ship:removeButton id="btn_delete" action="#{cohortController.doRemoveStudy(s)}" value="" tooltip="#{facesContext.translate('button.delete')}" title="#{facesContext.translate('title.delete.approve')}" approveButtonLabel="#{facesContext.translate('button.yes')}"
								cancelButtonLabel="#{facesContext.translate('button.no')}" immediate="true" rendered="#{s.canWrite}">
								<h:outputText value="#{facesContext.translate('confirmation.delete', s.name)}" />
							</ship:removeButton>
						</ship:buttongroup>
					</p:column>
				</p:dataTable>
			</p:panel>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_add" action="#{cohortController.toAddStudy}" value="#{facesContext.translate('button.add.cohort')}" immediate="true" />
			<p:commandButton id="btn_cancel" action="#{cohortController.toListStudygroup}" value="#{facesContext.translate('button.manage.studygroups')}" ajax="" immediate="true" />
		</ui:define>
		<ui:define name="help_de">
Im Modul <b>Studienübersicht</b> wird Ihnen ein Überblick über alle Studien gegeben, für die Sie eine Zugangsberechtigung besitzen.<br />
			<br />

Sofern Sie die erforderlichen Rechte besitzen, können Sie Studien ansehen, bearbeiten, neu anlegen oder löschen.<br />
			<br />

Zudem werden in diesem Modul die Rechte der Nutzer zur Modifikation der Studienstruktur verwaltet.<br />
			<br />

In der <b>Studienübersicht</b> geht es nur um die Beschreibung der Studie, nicht um die Definition der Studienstruktur oder einzelner Variablen. Dies wird über das Modul <b>Studienstruktur</b> verwaltet.<br />
			<br />

Da Square² die Verwaltung von multiplen Studien und Längsschnittstudien ermöglicht, wird zwischen Studien und Studiengruppen unterschieden. Eine Studiengruppe kann eine oder mehrere Studien umfassen. Dies können auch mehrere Erhebungswellen innerhalb einer Studie sein. <br />
			<br />

Jede Erhebungswelle einer Studie wird typischerweise als eigene Studie in Square² integriert. Es ist allerdings auch möglich, Wiederholungsuntersuchungen innerhalb einer Studie anzulegen. <br />
			<br />

Da Studien einer Studiengruppe angehören müssen, legen Sie bei Bedarf zuerst eine an (unter <i>Studiengruppen verwalten</i>). Dies kann nur durch einen Administrator erfolgen.<br />
			<br />
		</ui:define>
		<ui:define name="help_en">
The module <b>study overview</b> shows all existing studies you have acess to.<br />
			<br />

In case you own the required privileges you find more information about existing studies on this page. Aditionally you can edit or delete these or create new studies.<br />
			<br />

The privileges to modificate the study structure can be managed from here as well.<br />
			<br />

The function of the module is to describe studies, not to define the study structure or single variables. This can be done via the module <b>study structure</b>.<br />
			<br />

Because Square² allows the management of multiple studies and longitudinal studies there's a difference between studies and study groups.  A study group can cover one or more studies or different waves of one study.<br />
			<br />

Ususally every study wave is integrated in Square² as an own study. However it's possible to create repetitions within one study.<br />
			<br />

Every study needs to be part of a study group, if necessary please create a new one (via <i>manage study groups</i>). This can be done only by an administrator.<br />
			<br />
		</ui:define>
	</ui:composition>
</h:body>
</html>