<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
  <ui:composition template="/pages/pridiatemplate.xhtml">
    <ui:define name="body">
      <p:panel header="#{facesContext.translate('label.instruction.cohort.choose.studygroup')}">
        <p:dataTable id="studygroups" value="#{cohortModel.studygroups}" var="s">
          <p:column headerText="#{facesContext.translate('label.name')}" sortBy="#{s.name}" filterBy="#{s.name}" filterMatchMode="contains">
            <p:commandLink id="btn_edit1" action="#{cohortController.toEditStudygroup(s)}" value="#{s.name}" ajax="false" />
          </p:column>
          <p:column headerText="#{facesContext.translate('label.description')}" sortBy="#{s.translation}" filterBy="#{s.translation}" filterMatchMode="contains">
          	<ship:outputTranslation value="#{s.translation}" showIsoBadge="false" />
          </p:column>
          <p:column headerText="#{facesContext.translate('label.actions')}" styleClass="twoiconbuttons">
            <ship:buttongroup>
              <ship:iconButton id="btn_edit2" action="#{cohortController.toEditStudygroup(s)}" value="" hint="#{facesContext.translate('button.edit')}" iconAwesome="pencil" immediate="true" />
              <ship:removeButton id="btn_remove" action="#{cohortController.doRemoveStudygroup(s)}" value="" tooltip="#{facesContext.translate('button.delete')}"
                title="#{facesContext.translate('title.delete.approve')}" approveButtonLabel="#{facesContext.translate('button.yes')}"
                cancelButtonLabel="#{facesContext.translate('button.no')}" immediate="true">
                <h:outputText value="#{facesContext.translate('confirmation.delete', s.name)} #{(s.studies != ' - ' ? facesContext.translate('hint.affected.studies.delete', s.studies) : '')}" />
              </ship:removeButton>
            </ship:buttongroup>
          </p:column>
        </p:dataTable>
      </p:panel>
    </ui:define>
    <ui:define name="formbuttons">
      <p:commandButton id="btn_add" action="#{cohortController.toAddStudygroup}" value="#{facesContext.translate('button.add.studygroup')}" ajax="false" immediate="true" />
      <p:commandButton id="btn_cancel" action="#{cohortController.toWelcome}" value="#{facesContext.translate('navigate.cohort')}" ajax="false" immediate="true" />
    </ui:define>
		<ui:define name="help_de">
			Auf dieser Seite sehen Sie alle Studiengruppen, zu denen Studien zugeordnet werden können. Eine Studie muss zwingenderweise einer Studiengruppe zugeordnet sein.<br /><br />

Sofern Sie die nötigen Rechte besitzen, können Sie hier Studiengruppen bearbeiten und löschen. Wählen Sie <i>Studiengruppe anlegen</i>, um eine neue zu erstellen.
		</ui:define>
    <ui:define name="help_en">
      On this page you see all the study groups, to which studies can be assigned. It's mandatory to assign a study to a study group.<br /><br />

If you own the required privileges you can edit or delete preexisting study groups. Click <i>add study group</i> to create a new one.
    </ui:define>
  </ui:composition>
</h:body>
</html>