.slick-column-name {
  writing-mode: vertical-rl;
}

.locked {
  cursor: not-allowed !important;
}

.slick-header-column .slick-column-name {
  transform: rotate(180deg) !important;
}

.slick-header-button-anamat {
  width:10px !important;
  transform: rotate(0deg);
  /* display: inline !important; */
  /* position: unset; */
  /* left: 20px; */
  /* float: right !important; */
  /* bottom: -10px; */
  /* writing-mode: vertical-rl; */
  /* text-orientation: mixed; */
}

.select-all { /* https://stackoverflow.com/a/1191519 */
    position: relative;
/*  background-image: url(../images/CheckboxY.png);*/
}
.select-all:after { /* https://stackoverflow.com/a/1191519 */
  content: "☑";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pencil {
    position: relative;
/*  background-image: url(../images/CheckboxY.png);*/
}
.pencil:after {
  content: "✎";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.pencil {
/*  background-image: url(../images/CheckboxN.png);*/
}

.help {
    position: relative;
/*  background-image: url(../images/CheckboxY.png);*/
}
.help:after {
  content: "ⓘ";
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.help {
/*  background-image: url(../images/CheckboxN.png);*/
}

.select-none {
    position: relative;
/*  background-image: url(../images/CheckboxY.png);*/
}
.select-none:after {
  content: "☐";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.select-none {
/*  background-image: url(../images/CheckboxN.png);*/
}

.cell-title {
/*  font-weight: bold;*/
}

.cell-effort-driven {
  text-align: center;
}

.slick-header-column {
  /*transform: rotate(180deg);*/
  height: 175px !important;
  padding-top: 0px !important;
}

.slick-column-name {
  transform: rotate(0deg);
  height: 113px;
  overflow-y:hidden;
  font-size:x-small;
}

.cell-title-header .slick-column-name {
  writing-mode: unset !important;
  transform: rotate(0deg) !important;
  width: 100%;
  text-align: center;
  margin-top:50%;
}

.slick-header-button-anamat, 
.slick-column-name {
  margin-bottom: 0 !important;
}

.editor-checkbox {
  padding: 0;
  margin: 0;
}

.slick-varname {
  font-size:x-small;
}

.lock-tooltip-styling {
  position: absolute !important;
  z-index: 99 !important;
  top: 10% !important;
  left: 10% !important;
}

.header-tooltip-styling {
  position: absolute !important;
  z-index: 99 !important;
}

.header-button-tooltip-styling {
  position: absolute !important;
  z-index: 99 !important;
}

.tooltip {
  position: fixed !important;
}

.ui-widget-shadow {
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.ui-widget-overlay {
    opacity: 0.25 !important;
}

.ui-menubar .ui-icon, .ui-menu .ui-icon {
    position: relative !important;
}

.ui-widget-header .ui-icon {
		position: absolute !important;	
}
