<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{vargroupModel.variablegroupBean.name}" />
		</ui:define>
		<ui:define name="body" >
			<div>
				<ship:buttongroup>
					<p:commandButton id="btn_edit" action="#{vargroupController.doChangeHierarchy(nav.fkElement)}" value="" icon="fa fa-home" styleClass="iconbutton" ajax="false" />
					<ui:repeat value="#{vargroupModel.breadcrumbs}" var="nav" varStatus="status">
						<p:commandButton id="btn_breadcrumb" action="#{vargroupController.doChangeHierarchy(nav.fkElement)}" value="#{nav.name}" styleClass="breadcrumbpri" ajax="false" />
					</ui:repeat>
				</ship:buttongroup>
			</div>
			<div style="min-height: 50vh;">
				<p:dataTable id="children" value="#{vargroupModel.children}" var="l">
					<p:column header="#{facesContext.translate('label.vargroup.location')}">
						<p:commandLink id="btn_toDept" action="#{vargroupController.doChangeHierarchy(l.fkElement)}" value="➜ #{l.name}" ajax="false" />
					</p:column>
					<!-- 
									<p:column header="#{facesContext.translate('label.vargroup.departments')}">
										<b:commandButton action="#{vargroupController.doChangeHierarchy(l.fkElement)}" value="#{l.amountNonVariables}" title="#{facesContext.translate('tooltip.vargroup.element')}" />
									</b:dataTableColumn>
									-->
					<p:column header="#{facesContext.translate('label.vargroup.variables')}">
						<h:outputText value="#{l.amountVariables}" styleClass="squarebadge" />
					</p:column>
					<p:column header="#{facesContext.translate('label.vargroup.selectedvariables')}">
						<h:outputText value="#{l.amountChosenVariables}" styleClass="squarebadge" />
					</p:column>
					<p:column header="#{facesContext.translate('label.actions')}">
						<ship:buttongroup>
							<p:commandButton id="btn_selectall" action="#{vargroupController.doSelectAllUnder(l.fkElement, true)}" value="" title="#{facesContext.translate('button.chooseall')}" ajax="false"
								icon="fa fa-plus" styleClass="buttonheight" />
							<p:commandButton id="btn_deselectall" action="#{vargroupController.doSelectAllUnder(l.fkElement, false)}" value="" title="#{facesContext.translate('button.choosenone')}" ajax="false"
								icon="fa fa-trash" styleClass="buttonheight" style="color: #a00;" />
						</ship:buttongroup>
					</p:column>
				</p:dataTable>
			</div>
			<div>
				<p:commandButton id="btn_selectcurrent" action="#{vargroupController.doSelectAllCurrent(true)}" value="#{facesContext.translate('button.chooseall')}"
					rendered="#{vargroupModel.variables.size() gt 0}" ajax="false" icon="fa fa-plus" />
				<p:commandButton id="btn_deselectcurrent" action="#{vargroupController.doSelectAllCurrent(false)}" value="#{facesContext.translate('button.choosenone')}"
					rendered="#{vargroupModel.variables.size() gt 0}" ajax="false" icon="fa fa-trash" style="color: #d9534f" />
			</div>
			<div>
				<h:dataTable id="vars" value="#{vargroupModel.variables}" var="l" rowClasses="odd, even" styleClass="width100percent">
					<h:column>
						<p:commandButton id="btn_select" action="#{vargroupController.doSelect(l.fkElement, !l.chosen)}" value="#{l.name}" icon="#{l.chosen ? 'fa fa-check-square-o' : 'fa fa-square-o'}"
							style="#{l.dirty ? 'color: #E38D13' : ''}" ajax="false" />
					</h:column>
					<h:column>
						<ship:outputTranslation value="#{l.translation}" />
					</h:column>
				</h:dataTable>
			</div>
			<div>
				<p:panel rendered="#{vargroupModel.hasDirtyVariables}" header="#{facesContext.translate('warning.vargroup.change.dirtyvariables', vargroupModel.amountDirtyVariables)}">
					<p:staticMessage severity="warning" detail="#{facesContext.translate('warning.variablegroup.deleteaffectsreports')}" />
				</p:panel>
			</div>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_revert" action="#{vargroupController.doRevertListContent}" value="#{facesContext.translate('button.cancel')}" ajax="false" />
			<p:commandButton id="btn_approve" action="#{vargroupController.doChangeListContent}" value="#{facesContext.translate('button.approve')}" ajax="false" />
		</ui:define>
		<ui:define name="help_de">
			Befüllen Sie hier die Variablengruppe mit Variablen. Navigieren Sie durch das Anklicken des Namens der gewünschten Bereiche. Wählen sie über das Plus-Symbol die Variablen aus, die der Variablengruppe angehören sollen. Es werden automatisch alle verfügbaren Variablen der Hierarchieebene ausgewählt, bei einem Klick auf das Papierkorb-Symbol wird die gesamte Auswahl entfernt. Für den Fall, dass sie einzelne Variablen hinzufügen oder entfernen möchten, werden diese unter der Tabelle angezeigt. Ändern Sie die Auswahl enfach durch ein Anklicken der betreffenden Variable.<br />
			<br />

      Insbesondere bei Variablengruppen, die bereits für Berichte genutzt werden, sollten Änderungen des Variablenumfangs nur mit großer Vorsicht vorgenommen werden, da dies zu Konflikten bei der Berichtsausführung führen kann. Um Konflikte zu vermeiden ist es im Zweifelsfall besser, eine neue Variablengruppe anzulegen, als eine bereits genutzte zu verändern. Da Rechte an Variablengruppen auch den Zugriff auf Berichte steuern, sollten jedoch auch nicht übermäßig viele überlappende Variablengruppen erstellt werden.
		</ui:define>
		<ui:define name="help_en">
      Here you can select variables that should belong to the variable group. Navigate by clicking on the sections name and select variables via the plus symbol. All available variables of the current level will be selected automatically. To remove the entire selection please click the recycle bin. In case you want to add or remove individual variables, these are listed below the table. Simply change the selection by clicking on a certain variable.<br />
			<br />

      Especially in variable groups that are already used for reports, the selection of variables should be changed carefully, as this can lead to conflicts during report calculation. In case of doubt and to avoid conflicts, it's better to create a new variable group, than change an existing one. But, since rights to variable groups also control the access to reports not too many overlapping variable groups should be created.
    </ui:define>
	</ui:composition>
</h:body>
</html>