<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('panel.vargroup.item.definition', vargroupModel.variablegroupBean.name)}" />
		</ui:define>
		<ui:define name="body">
			<p:panelGrid columns="2" styleClass="width100percent">
				<h:outputText value="#{facesContext.translate('label.vargroup.variablegroup.name')}" />
				<p:inputText id="name" value="#{vargroupModel.variablegroupBean.name}" required="true" requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.vargroup.variablegroup.name')}" />
				<h:outputText value="#{facesContext.translate('label.vargroup.variablegroup.description')}" />
				<p:inputTextarea id="descr" value="#{vargroupModel.variablegroupBean.description}" styleClass="inputTextareaLarge" />
			</p:panelGrid>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_update" action="#{vargroupController.doUpdateDefinition}" value="#{facesContext.translate('button.approve')}" ajax="false" />
			<p:commandButton id="btn_edit" action="#{vargroupController.toEdit(vargroupModel.variablegroupBean)}" value="#{facesContext.translate('button.cancel')}" ajax="false" immediate="true" />
		</ui:define>
		<ui:define name="help_de">
			Hier können der Name und die Beschreibung der Variablengruppe bearbeitet werden.
		</ui:define>
		<ui:define name="help_en">
      Name and description of the variable group can be edited here.
    </ui:define>
	</ui:composition>
</h:body>
</html>