<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{vargroupModel.variablegroupBean.name}" />
		</ui:define>
		<ui:define name="body">
			<p:panelGrid columns="2">
				<h:outputText value="#{facesContext.translate('label.vargroup.variablegroup.name')}" />
				<h:outputText value="#{vargroupModel.variablegroupBean.name}" />
				<h:outputText value="#{facesContext.translate('label.vargroup.variablegroup.description')}" />
				<h:outputText value="#{vargroupModel.variablegroupBean.description}" />
				<h:outputText value="#{facesContext.translate('label.vargroup.variablegroup.reports')}" />
				<ui:repeat value="#{vargroupModel.variablegroupBean.reports}" var="r" rendered="#{profile.hasOneOfPrivileges('reportbuilder','reportwriter','reportdesigner','reportreader')}"
					varStatus="status">
					<p:commandLink id="btn_breadcrumb_#{status.index}" action="#{templateReportController.toInfo(r)}" value="➜ #{r.name}" />
				</ui:repeat>
				<ui:repeat value="#{vargroupModel.variablegroupBean.dependings}" var="d" rendered="#{not profile.hasOneOfPrivileges('reportbuilder','reportwriter','reportdesigner','reportreader')}" >
					<h:outputText value="#{d}" style="padding-left: 4px; padding-right: 4px;"/>
				</ui:repeat>
			</p:panelGrid>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_cancel" action="#{vargroupController.toWelcome}" value="#{facesContext.translate('button.overview')}" ajax="false" />
			<p:commandButton id="btn_download" action="#{vargroupController.doDownloadVariableAttributes}" value="#{facesContext.translate('button.download.metadata.ods')}" ajax="false" />
		</ui:define>
		<ui:define name="help_de">
			Hier werden alle Details zur ausgewählten Variablengruppe aufgelistet. Ein Schnellzugriff auf Berichte, in denen die Gruppe verwendet wird ist möglich. Außerdem können über <i>Download
				Variablenattribute</i> alle Attribute der der Gruppe zugewiesenen Variablen im ODS-Dateiformat heruntergeladen werden.
		</ui:define>
		<ui:define name="help_en">
			All details of the selected variable group are listed here. A quick access is possible to reports in which the group is used. Additionally, all attributes of the variables of the group can be downloaded in an ODS file by clicking <i>download
				variable attributes</i>.
		</ui:define>
	</ui:composition>
</h:body>
</html>