<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
  <ui:composition template="/pages/primodaltemplate.xhtml">
    <ui:define name="title">
      <h:outputText value="#{facesContext.translate('title.study.variable.add')}" />
    </ui:define>
    <ui:define name="body">
      <p:tabView>
        <p:tab title="#{facesContext.translate('title.study.variable.add')}" titleStyleClass="accordionpanelheader">
          <p:panelGrid columns="2" columnClasses="width200px" style="width: 100%">
            <h:outputText value="#{facesContext.translate('tooltip.vargroup.element')}" />
            <ship:buttongroup>
              <ui:repeat value="#{studyModel.parents}" var="b" varStatus="status">
                <p:commandButton id="btn_breadcrumb" action="#{studyController.toWelcome(b.id)}" value="#{b.name}" ajax="false" immediate="true" styleClass="breadcrumbpri"
                  disabled="#{b.parent == null}" />
              </ui:repeat>
            </ship:buttongroup>
          </p:panelGrid>
          <ship:card id="card3" title="#{facesContext.translate('label.study.usage.browser')}">
            <p:panelGrid columns="2" columnClasses="width200px" style="width: 100%">
              <h:outputText value="#{facesContext.translate('label.techname')}" />
              <p:inputText id="name" value="#{studyModel.variable.name}" style="width: 99%" required="#{!studyController.cancelling}"
                requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.name')}" />
              <h:outputText value="#{facesContext.translate('label.guiname')}" />
              <ship:inputJson id="descr" value="#{studyModel.variable.translationJson}" type="translation" typerestriction="#{studyModel.variable.localesJson}" width="99%" labelall="#{facesContext.translate('label.display.all.translations')}" />
            </p:panelGrid>
          </ship:card>
          <ship:card id="card4" title="#{facesContext.translate('label.study.usage.report')}">
            <p:panelGrid columns="2" columnClasses="width200px" style="width: 100%">
              <h:outputText value="#{facesContext.translate('label.columnname')}" />
              <p:inputText id="colname" value="#{studyModel.variable.columnName}" style="width: 99%" required="#{!studyController.cancelling}"
                requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.columnname')}" />
              <h:outputText value="#{facesContext.translate('label.variable.datatype')}" />
              <p:selectOneMenu id="scale" value="#{studyModel.variable.datatype}" style="width: 95%" filter="true" required="#{!studyController.cancelling}"
                requiredMessage="#{facesContext.translate('error.mustnotbeempty', 'label.variable.datatype')}">
                <f:selectItem itemValue="" itemLabel="#{facesContext.translate('button.choose')}" />
                <f:selectItem itemValue="string" itemLabel="string" />
                <f:selectItem itemValue="integer" itemLabel="integer" />
                <f:selectItem itemValue="float" itemLabel="float" />
                <f:selectItem itemValue="datetime" itemLabel="datetime" />
              </p:selectOneMenu>
              <h:outputText value="#{facesContext.translate('label.study.variable.valuelist')}" title="#{facesContext.translate('tooltip.study.valuelist')}" />
              <p:inputText id="valuelist" value="#{studyModel.variable.valuelist}" style="width: 99%" />
              <h:outputText value="#{facesContext.translate('label.study.variable.idvariable')}" />
              <p:inputSwitch id="idvar" value="#{studyModel.variable.idvariable}" />
              <h:outputText value="#{facesContext.translate('label.study.variable.variableusage')}" />
              <p:selectOneMenu id="usage" value="#{studyModel.variable.fkVariableusage}" style="width: 95%">
                <f:selectItems value="#{studyModel.variableusages}" var="u" itemValue="#{u.pk}" itemLabel="#{facesContext.translateKey(u.fkLang)}" />
              </p:selectOneMenu>
              <h:outputText value="#{facesContext.translate('label.study.variable.missinglist')}" />
              <p:selectOneMenu value="#{studyModel.element.fkMissinglist}" filter="true" style="width: 95%">
                <f:selectItem itemValue="" itemLabel="#{facesContext.translate('label.missinglist.inherit')}" />
                <f:selectItems value="#{studyModel.missinglists}" var="ml" itemValue="#{ml.id}" itemLabel="#{ml.name} (#{ml.summary})" />
              </p:selectOneMenu>
            </p:panelGrid>
          </ship:card>
        </p:tab>
        <p:tab title="#{facesContext.translate('label.instructions.study.variable')}" titleStyleClass="accordionpanelheader">
          <p:dataTable value="#{studyModel.neighbours}" var="n" pageLength="50" styleClass="table table-striped" lang="#{lang.simpleLocaleCode}" saveState="true">
            <p:column headerText="#{facesContext.translate('label.name')}">
              <h:outputText value="#{n.name}" />
            </p:column>
            <p:column headerText="#{facesContext.translate('label.translation')}">
              <ship:outputTranslation value="#{n.translation}" />
            </p:column>
          </p:dataTable>
        </p:tab>
      </p:tabView>
    </ui:define>
    <ui:define name="formbuttons">
      <p:commandButton id="btn_add" action="#{studyController.doAddVariable}" value="#{facesContext.translate('button.add')}" ajax="false" />
      <p:commandButton id="btn_cancel" action="#{studyController.toWelcome(studyModel.element.id)}" value="#{facesContext.translate('button.cancel')}" ajax="false" immediate="true" />
    </ui:define>
    <ui:define name="help_de">
			Hier kann eine neue Variable hinterlegt werde. Die Variable wird auf der Ebene angelegt, auf der sich der Nutzer gerade befindet. Zur Orientierung finden Sie den Pfad zum aktuellen Bereich im Hierarchiebaum in der ersten Zeile. Zur Erstellung werden folgende Informationen benötigt:<br />
      <br />

      <b>Bereich:</b> zur Übersicht, bei Anklicken werden Sie auf die betreffende Ebene geleitet<br />
      <b>Name:</b> Name der Studienvariable<br />
      <b>Datensatz-Spaltenname:</b> Name der Tabellenspalte in der Datenbank, die die Daten zu dieser Variable enthält<br />
      <b>Datentyp:</b> Typ der erfassten Werte &rarr; string = alphanumerisch, integer = ganzzahlig, float = Fließkommazahlen (z.B. 1.3E4), datetime = Datums- und Zeitangaben<br />
      <b>Werteliste:</b> erlaubte Werte (Ausprägungen) der Variable, z.B. male/female oder never/rarely/always<br />
      <b>ist ID-Variable:</b> ID-Variablen identifizieren Personen, Untersuchungsbesuche oder Messwiederholungen. Diese Variablen dienen dazu, Studienvariablen aus verschiedenen Untersuchungsbereichen wenn nötig miteinander zu koppeln. Folgende ID-Variablen stehen zur Verfügung: Probanden-ID, Wiederholungs-ID, Besuchs-ID, Untersucher-ID, Anmelde-ID. Im Gegensatz zu Studienvariablen werden für ID-Variablen keine weiteren Metadaten angelegt.<br />
      <b>Nutzungsart:</b> Keyvariablen beschreiben besonders relevante Untersuchungen, die durch ihre Zuordnung von einfachen Variablen getrennt betrachtet und ausgewertet werden können. Prozessvariablen liegen wie andere Studienvariablen im Datensatz vor, beziehen sich jedoch auf andere Bereiche/Variablen und spezifizieren diese, z.B. durch Angabe des Untersuchers, des Geräts oder der Startzeit.<br />
      <b>Missingliste:</b> Zuordnung einer Missingliste, kann auch aus übergeordnetem Bereich übernommen werden<br />
      <br />

			Nach Abspeichern der Informationen können weitere Variablenattribute hinzugefügt werden. Das können z.B. weitere Labels oder Übersetzungen sein, weitere Bereichsangaben (z.B. für Messbarkeitsgrenzen), oder sonstige Metainformationen zur Variablen.
      <p:staticMessage severity="info" detail="#{facesContext.translate('label.study.definition.valuelist')}" />
    </ui:define>
    <ui:define name="help_en">
			A new variable can be stored here. The variable is created at the current level of the hierarchy. To check which level is active the path in the hierarchy to the current level is displayed in the first row. The following information is necessary:<br />
      <br />

      <b>group:</b> overview, to get to the requested level please click on it<br />
      <b>name:</b> name of the study variable<br />
      <b>data set column name:</b> name of the column in the database that contains the data for this variable<br />
      <b>data type:</b> type of the recorded values &rarr; string = alphanumeric, integer = whole numbers, float = floating point values (e.g. 1.3E4), datetime = date and time values<br />
      <b>valuelist:</b> allowed values of the variable, e.g. male/female or never/rarely/always<br />
      <b>is an ID variable:</b> ID variables identify persons, visits or repeated measurements. These variables are used to link study variables from different study sections if necessary. The following ID variables are possible: articipant ID, repeat ID, visit ID, observation ID, login ID. In contrast to study variables, no further metadata is created for ID variables.<br />
      <b>usage:</b> Key variables describe most relevant examinations, which can be viewed and evaluated separately from minor variables by this assignment. Process variables are part of the data set like all the study variables, but refer to other sections/variables and specify them, e.g. by specifying observer, device or start time.<br />
      <b>missinglist:</b> assignment of a missing list, can be taken over from superior section<br />
      <br />

			After saving, further variable attributes can be added. These can be e.g. more labels or translations, range specifications (e.g. for measurability limits), or other meta information about the variable.
			<p:staticMessage severity="info" detail="#{facesContext.translate('label.study.definition.valuelist')}" />
    </ui:define>
  </ui:composition>
</h:body>
</html>