<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('title.item.calculate', reportModel.calculateReportBean.name)}" />
		</ui:define>
		<ui:define name="body">
			<p:staticMessage severity="warn" summary="#{facesContext.translate('warn')}" detail="#{facesContext.translate('information.report.isrunning')}" style="width: 100%" rendered="#{reportModel.calculateReportBean.isRunning}" />
			<p:panelGrid columns="2">
				<h:outputText value="#{facesContext.translate('label.report.id')}" />
				<h:outputText value="#{reportModel.calculateReportBean.name}" />
				<h:outputText value="#{facesContext.translate('label.report.generate.releases')}" />
				<p:tabView id="tabview">
					<p:tab id="tab1" title="#{facesContext.translate('label.report.generate.release.internal')}" titleStyleClass="accordionpanelheader">
						<p:staticMessage severity="warning" detail="#{facesContext.translate('warn.report.calculation.noreleases')}" styleClass="error roundborder" rendered="#{reportModel.calculateReportBean.hasNoReleases}" />
						<ui:fragment rendered="false">
							<!-- disabled, because that does not change the database table t_calcures -->
							<h:dataTable id="releases" value="#{reportModel.calculateReportBean.releases}" var="r" style="width: 100%" rendered="#{!reportModel.calculateReportBean.hasNoReleases}">
								<h:column>
									<h:outputText value="#{r.name}" />
									<f:facet name="footer">
										<p:menuButton value="#{facesContext.translate('button.choose')}">
											<c:forEach items="${reportModel.filteredReleases}" var="s" varStatus="status">
												<p:menuitem id="btn_addrelease_#{status.index}" action="#{reportController.doAddReleaseInEdit(s)}" value="#{s.name}" />
											</c:forEach>
										</p:menuButton>
									</f:facet>
								</h:column>
								<h:column>
									<ship:removeButton action="#{reportController.doRemoveReleaseInEdit(r.pk)}" isLink="false" value="" tooltip="#{facesContext.translate('button.remove')}" title="#{facesContext.translate('title.delete.approve')}"
										approveButtonLabel="#{facesContext.translate('button.yes')}" cancelButtonLabel="#{facesContext.translate('button.no')}">
										<h:outputText value="#{facesContext.translate('confirmation.delete', r.name)}" />
									</ship:removeButton>
									<f:facet name="footer">
										<p:commandButton id="btn_resetrelease" action="#{reportController.doResetReportReleases}" value="#{facesContext.translate('button.approve.releasechange')}" ajax="false" />
									</f:facet>
								</h:column>
							</h:dataTable>
						</ui:fragment>
						<!-- hotfix to show loaded releases -->
						<h:dataTable id="loaded_releaes" value="#{reportModel.calculateReportBean.releases}" var="r" style="width: 100%">
							<h:column>
								<h:outputText value="#{r.name}" />
							</h:column>
						</h:dataTable>
					</p:tab>
					<p:tab title="#{facesContext.translate('label.report.generate.release.external')}" titleStyleClass="accordionpanelheader" rendered="#{reportModel.externalReleaseTypes.size() > 0 || profile.hasPrivilege('admin')}">
						<p:selectOneMenu id="externalreleasetype" value="#{reportModel.externalReleaseType}" filter="true">
							<f:selectItem itemValue="" itemLabel="#{facesContext.translate('button.choose')}" />
							<f:selectItems value="#{reportModel.externalReleaseTypes}" var="r" itemLabel="#{r.description}" itemValue="#{r.key}" />
						</p:selectOneMenu>
						<h:inputFile id="externalreleasefile" value="#{reportModel.externalReleaseFile}" />
					</p:tab>
				</p:tabView>
				<h:outputText value="#{facesContext.translate('label.report.external.metadata')}" />
				<h:inputFile id="externalmetadatafile" value="#{reportModel.externalMetadataFile}" />
				<h:outputText value="#{facesContext.translate('label.report.intervals')}" />
				<h:dataTable id="intervals" value="#{reportModel.calculateReportBean.intervals}" var="i" rendered="#{reportModel.calculateReportBean.intervals != null}">
					<h:column>
						<h:outputText value="#{i.string}" />
					</h:column>
				</h:dataTable>
				<h:outputText value="#{facesContext.translate('label.report.generate.started')}" />
				<h:outputText value="#{reportModel.calculateReportBean.started}">
					<f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
				</h:outputText>
				<h:outputText value="#{facesContext.translate('label.report.generate.stopped')}" />
				<h:outputText value="#{reportModel.calculateReportBean.stopped}">
					<f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
				</h:outputText>
				<h:outputText value="#{facesContext.translate('label.report.generate.debug')}" />
				<p:selectBooleanCheckbox id="debugmode" value="#{reportModel.debugMode}" itemLabel="#{facesContext.translate('label.active')}" />
				<h:outputText value="#{facesContext.translate('label.report.generate.runedition')}" rendered="#{profile.hasPrivilege('statisticadmin') and reportModel.hasMoreRunEditions}" />
				<p:selectOneMenu id="squarerunedition" value="#{reportModel.squareRunEdition}" filter="true" rendered="#{profile.hasPrivilege('statisticadmin') and reportModel.hasMoreRunEditions}">
					<f:selectItems value="#{reportModel.squareRunEditions}" var="t" itemValue="#{t}" itemLabel="#{t}" />
				</p:selectOneMenu>
				<!-- ignore translation because this should be defined in the report template already -->
				<h:outputText value="#{facesContext.translate('label.report.generate.isocode')}" rendered="false" />
				<p:selectOneMenu id="isocode" value="#{reportModel.isocode}" filter="true" rendered="false">
					<f:selectItems value="#{lang.countries}" var="i" itemValue="#{i}" itemLabel="#{facesContext.displayLanguage(i, lang.locale)}" />
				</p:selectOneMenu>
			</p:panelGrid>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_reset" action="#{reportController.toReset}" value="#{facesContext.translate('button.reset')}" ajax="false" rendered="#{facesContext.getProfile().isAdmin() and reportModel.calculateReportBean.isRunning}" />
			<p:commandButton id="btn_calculate" action="#{reportController.doCalculate}" value="#{facesContext.translate('button.calculate')}" icon="pi pi-replay" ajax="false" onclick="ship.processing(900000)" disabled="#{reportModel.calculateReportBean.isRunning || reportModel.squareRunEditions == null || reportModel.squareRunEditions.size() lt 1}"
				title="#{facesContext.translate('button.calculate')}" />
			<p:commandButton id="btn_reload" action="#{reportController.doReload}" value="#{facesContext.translate('button.reload')}" ajax="false" icon="pi pi-refresh" />
			<p:commandButton id="btn_show" action="#{reportController.toShowByAbort(reportModel.calculateReportBean, true)}" value="#{facesContext.translate('button.back2overview')}" immediate="true" ajax="false" />
		</ui:define>
	</ui:composition>
</h:body>
</html>