<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('title.report.matrix')}" />
		</ui:define>
		<ui:define name="body">
			<script type="text/javascript">
				$(document).ready(function(){
					ship.processed(); 
				});
				ship.processing();
			</script>
			
			<h:outputStylesheet library="slickgrid" name="anamat.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="slick.grid.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="jquery-ui.min.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="jquery-ui.structure.min.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="jquery-ui.theme.min.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="slick.headerbuttons.css?version=#{startup.time}" />
			<h:outputStylesheet library="slickgrid" name="jquery.dataTables.css?version=#{startup.time}" />
			<h:outputScript library="slickgrid" name="jquery-ui.min.js?version=#{startup.time}" />
			<h:outputScript library="slickgrid" name="jquery.event.drag-2.3.0.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="jquery.dataTables.min.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.colfix.patched.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.core.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.cellrangedecorator.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.cellrangeselector.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.cellselectionmodel.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.headerbuttons.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.formatters.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.editors.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.grid.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="slick.dataview.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="zip.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="newanamat.js?version=#{startup.time}" target="head" />
			<h:outputScript library="slickgrid" name="app.bundle.js?version=#{startup.time}" target="head" />

			<p:panelGrid columns="3">
				<ui:fragment>
					<div class="input-group">
						<span class="input-group-addon"><h:outputText value="#{facesContext.translate('label.report.filter.lines')}" /></span> <input id="filterLines" type="text" class="form-control" placeholder="#{facesContext.translate('label.filter.instruction')}" />
					</div>
				</ui:fragment>
				<ui:fragment>
					<div class="input-group">
						<span class="input-group-addon"><h:outputText value="#{facesContext.translate('label.report.filter.columns')}" /></span> <input id="filterColumns" type="text" class="form-control" placeholder="#{facesContext.translate('label.filter.instruction')}" />
					</div>
				</ui:fragment>
				<ui:fragment>
					<div id="lsd"></div>
					<!-- upload-download div to be filled by anamat js -->
				</ui:fragment>
			</p:panelGrid>
			<p:panel header="#{facesContext.translate('label.analysis.matrix.vargrouptext', reportModel.vargroupName)}">
			
				<div id="detailinfo"></div>
				<div>
					<div id="matrixdiv" style="height: calc(100vh - 255px)"></div>
				</div>
				<script type="text/javascript">
				myContainer = {};
				
				$(document).ready(function(){
					
  				var jsonMatrix = <h:outputText value="#{reportModel.jsonMatrix}" escape="true" />;
  				
  				var configuration = {
						divId : "matrixdiv",
						searchInputId : "filterLines",
						colFilterInputId: "filterColumns",
						fixCol : true,
						initHeight : "window-200",
						ajaxEndpoint: "/Square2/jsonmatrix"
					};
					
				  myContainer.myAnamat = newanamat(jsonMatrix, configuration);
				  
				  $(".stayOnBottomDistance").hide(); // with that, remove the gap between menu and panel start
				});
				
				</script>
			</p:panel>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_approve" action="#{reportController.doUpdateJsonMatrix}" value="#{facesContext.translate('button.approve')}" ajax="false" onclick="closeprimodaldialog();ship.processing()" />
			<p:commandButton id="btn_chooseall" value="#{facesContext.translate('button.chooseall')}" onclick="myContainer.myAnamat.selectAll()" type="button" />
			<p:commandButton id="btn_choosenone" value="#{facesContext.translate('button.choosenone')}" onclick="myContainer.myAnamat.deSelectAll()" type="button" />
			<p:commandButton id="btn_edit" action="#{reportController.toConfigure(reportModel.matrixBean)}" value="#{facesContext.translate('button.overview')}" immediate="true" ajax="false" onclick="closeprimodaldialog();ship.processing()" />
		</ui:define>
	</ui:composition>
</h:body>
</html>