<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('title.report.started')}" />
		</ui:define>
		<ui:define name="body">
			<div>
				<h:outputText value="#{facesContext.translate('title.report.started.detail')}" />
			</div>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_reload" action="#{reportController.doReload}" value="#{facesContext.translate('button.overview')}" ajax="false" />
		</ui:define>
	</ui:composition>
</h:body>
</html>