<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
  <ui:composition template="/pages/primodaltemplate.xhtml">
    <ui:define name="title">
      <h:outputText value="#{facesContext.translate('title.item.edit.studyvars', studyModel.studyvarBean.name)}" />
    </ui:define>
    <ui:define name="body">
    	<h:panelGrid columns="1">
    		<h:outputText value="#{facesContext.translate('label.study.timevar', studyModel.studyvarBean.name)}" />
    		<p:selectOneMenu value="#{studyModel.studyvarBean.timevar}" filter="true" filterMatchMode="contains">
    			<f:selectItem itemValue="" itemLabel="#{facesContext.translate('button.choose')}"/>
     			<f:selectItems value="#{studyModel.possibleTimeVars}" var="p" itemValue="#{p.id}" itemLabel="#{p.label}" />
     			<p:ajax update="form" />
    		</p:selectOneMenu>
    	</h:panelGrid>
    </ui:define>
    <ui:define name="formbuttons">
    	<p:commandButton id="btn_ok" action="#{studyController.doUpdateTimeVar}" value="#{facesContext.translate('button.ok')}" immediate="true" ajax="false" type="submit" />
      <p:commandButton id="btn_back" action="#{studyController.toWelcome}" value="#{facesContext.translate('button.cancel')}" immediate="true" ajax="false" />
    </ui:define>
  </ui:composition>
</h:body>
</html>