<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui" xmlns:cc="http://xmlns.jcp.org/jsf/composite">
  <cc:interface>
    <cc:attribute name="jsonData" required="true" type="java.lang.String" shortDescription="use JsDataTable, also see https://datatables.net/examples/data_sources/js_array.html" />
    <cc:attribute name="styleClass" required="false" default="" type="java.lang.String" />
  </cc:interface>
  <cc:implementation>
    <h:outputStylesheet library="css" name="datatables.min.css?version=#{startup.time}" target="head" />
    <h:outputScript library="js" name="datatables.min.js?version=#{startup.time}" />
    <table id="#{cc.attrs.clientId}:jsdt" class="display #{cc.attrs.styleClass}" />
    <div id="#{cc.attrs.clientId}:jsdtdata" style="display: none" json="#{cc.attrs.jsonData}"></div>
    <script type="text/javascript">
					$(document).ready(
							function() {
								var jsonData = JSON.parse($(
										"[id='#{cc.attrs.clientId}:jsdtdata']")
										.attr("json"));
								$("[id='#{cc.attrs.clientId}:jsdt']")
										.DataTable(jsonData);
							});
				</script>
  </cc:implementation>
</ui:composition>