<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">
	<cc:interface>
		<cc:attribute name="value" required="true" />
		<cc:attribute name="styleClass" required="false" default="" />
	</cc:interface>
	<cc:implementation>
	  <h:outputScript library="js" name="jsonio.js?version=#{startup.time}" target="head" />
	  <div id="#{cc.clientId}" class="#{cc.attrs.styleClass}" />
	  <script type="text/javascript">
	  	$(document).ready(function(){
	  		$("[id='#{cc.clientId}']").html(jsonio_toString('<h:outputText value="#{cc.attrs.value}" />'));
	  	});
  	</script>
	</cc:implementation>
</ui:composition>