<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:p="http://primefaces.org/ui" xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship">
	<cc:interface>
		<cc:attribute name="actionAdd" required="true" method-signature="java.lang.String actionAdd()" />
		<cc:attribute name="actionEdit" required="true" method-signature="java.lang.String actionEdit()" />
		<cc:attribute name="actionDelete" required="true" method-signature="java.lang.String actionDelete()" />
		<cc:attribute name="activeElement" required="true" type="square2.modules.model.GroupPrivilegeBean" />
		<cc:attribute name="list" required="true" type="java.util.List" />
		<cc:attribute name="allGroups" required="true" type="java.util.List" />
		<cc:attribute name="allUsers" required="true" type="java.util.List" />
		<cc:attribute name="pageLength" required="false" default="50" type="java.lang.Integer" />
		<cc:attribute name="facesContext" required="true" type="square2.help.SquareFacesContext" />
		<cc:attribute name="labelRead" required="false" default="r" />
		<cc:attribute name="labelWrite" required="false" default="w" />
		<cc:attribute name="labelExecute" required="false" default="x" />
		<cc:attribute name="renderRead" required="false" default="true" type="java.lang.Boolean" />
		<cc:attribute name="renderWrite" required="false" default="true" type="java.lang.Boolean" />
		<cc:attribute name="renderExecute" required="false" default="true" type="java.lang.Boolean" />
		<cc:attribute name="newGroup" required="true" type="java.lang.Integer" />
		<cc:attribute name="newUser" required="true" type="java.lang.Integer" />
		<cc:attribute name="newAcl" required="true" type="square2.modules.model.AclBean" />
	</cc:interface>
	<cc:implementation>
		<p:dataTable id="list" value="#{cc.attrs.list}" var="l">
			<p:column headerText="#{cc.attrs.facesContext.translate('label.group.name')}" styleClass="column-name">
				<h:outputText value="#{l.name}" />
				<f:facet name="footer">
					<p:selectOneMenu id="newgrp" value="#{cc.attrs.newGroup}" filter="true" immediate="true">
						<f:selectItem itemValue="" itemLabel="#{cc.attrs.facesContext.translate('button.choose')}" />
						<f:selectItems value="#{cc.attrs.allGroups}" var="i" itemLabel="#{i.name}" itemValue="#{i.pk}" />
					</p:selectOneMenu>
				</f:facet>
			</p:column>
			<p:column headerText="#{cc.attrs.facesContext.translate('label.group.users')}" styleClass="column-description">
				<h:outputText value="#{l.fullnames}" />
				<f:facet name="footer">
					<p:selectOneMenu id="newuser" value="#{cc.attrs.newUser}" filter="true" immediate="true">
						<f:selectItem itemValue="" itemLabel="#{cc.attrs.facesContext.translate('button.choose')}" />
						<f:selectItems value="#{cc.attrs.allUsers}" var="i" itemLabel="#{i.fullname}" itemValue="#{i.usnr}" />
					</p:selectOneMenu>
				</f:facet>
			</p:column>
			<p:column headerText="#{cc.attrs.facesContext.translate('label.group.privileges')}" styleClass="column-privileges">
				<p:panelGrid columns="4">
					<h:outputText value="#{cc.attrs.facesContext.translate(cc.attrs.labelRead)}" styleClass="#{l.acl.read ? 'green' : 'strikered'}" rendered="#{cc.attrs.renderRead}" />
					<h:outputText value="#{cc.attrs.facesContext.translate(cc.attrs.labelWrite)}" styleClass="#{l.acl.write ? 'green' : 'strikered'}" rendered="#{cc.attrs.renderWrite}" />
					<h:outputText value="#{cc.attrs.facesContext.translate(cc.attrs.labelExecute)}" styleClass="#{l.acl.execute ? 'green' : 'strikered'}" rendered="#{cc.attrs.renderExecute}" />
				</p:panelGrid>
				<f:facet name="footer">
					<p:selectBooleanCheckbox id="read2" value="#{cc.attrs.newAcl.read}" itemLabel="#{cc.attrs.facesContext.translate(cc.attrs.labelRead)}" immediate="true" rendered="#{cc.attrs.renderRead}" />
					<p:selectBooleanCheckbox id="write2" value="#{cc.attrs.newAcl.write}" itemLabel="#{cc.attrs.facesContext.translate(cc.attrs.labelWrite)}" immediate="true" rendered="#{cc.attrs.renderWrite}" />
					<p:selectBooleanCheckbox id="use2" value="#{cc.attrs.newAcl.execute}" itemLabel="#{cc.attrs.facesContext.translate(cc.attrs.labelExecute)}" immediate="true"
						rendered="#{cc.attrs.renderExecute}" />
				</f:facet>
			</p:column>
			<p:column headerText="#{cc.attrs.facesContext.translate('label.actions')}" styleClass="column-one-button">
				<ship:removeButton id="btn_delete" action="#{cc.attrs.actionDelete}" value="" tooltip="#{cc.attrs.facesContext.translate('button.remove')}" title="#{cc.attrs.facesContext.translate('title.delete.approve')}"
					approveButtonLabel="#{cc.attrs.facesContext.translate('button.yes')}" cancelButtonLabel="#{cc.attrs.facesContext.translate('button.no')}" immediate="true" ajax="true" update="@all"
					propertyActionListenerValue="#{l}" propertyActionListenerTarget="#{cc.attrs.activeElement}">
					<h:outputText value="#{cc.attrs.facesContext.translate('confirmation.delete.user', l.fullnames, l.containsUsnr(profile.usnr) ? 'confirmation.delete.user.extension.youareit' : '')}" />
				</ship:removeButton>
				<f:facet name="footer">
					<p:commandButton id="btn_add" action="#{cc.attrs.actionAdd}" value="" icon="pi pi-plus" styleClass="iconbutton" ajax="false" title="#{cc.attrs.facesContext.translate('button.add')}" />
				</f:facet>
			</p:column>
		</p:dataTable>
		<cc:insertChildren />
	</cc:implementation>
</ui:composition>