<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="#{adminModel.functioninputtype == null ? '/pages/pridiatemplate.xhtml' : '/pages/primodaltemplate.xhtml' }">
		<ui:define name="location">
			<ui:include src="/pages/admin/submenu.xhtml" />
		</ui:define>
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('title.admin.functioninputtype')}" />
		</ui:define>
		<ui:define name="body">
			<p:panel header="#{facesContext.translate('title.admin.functioninputtype')}">
				<p:dataTable id="types" value="#{adminModel.functioninputtypes}" var="b" rendered="#{adminModel.functioninputtype == null}">
					<p:column headerText="#{facesContext.translate('label.functioninputtype.id')}" sortable="true" filterable="true" sortBy="#{b.pk}" filterBy="#{b.pk}" filterMatchMode="contains" 
					          styleClass="column-integer-1k">
						<h:outputText value="#{b.pk}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.functioninputtype.name')}" sortable="true" filterable="true" sortBy="#{b.name}" filterBy="#{b.name}" filterMatchMode="contains"
					          styleClass="column-name">
						<h:outputText value="#{b.name}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.functioninputtype.fkLang')}" sortable="true" filterable="true" sortBy="#{b.translation}" filterBy="#{b.translation}"
						filterMatchMode="contains" styleClass="column-description"> <!-- TODO: This field may not be needed any more -->
						<h:outputText value="#{b.translation}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.functioninputtype.usage')}" sortable="true" filterable="true" sortBy="#{b.usage}" filterBy="#{b.usage}" filterMatchMode="contains"
					          styleClass="column-integer-1k"> <!-- TODO: the badge style may break the layout here -->
						<h:outputText value="#{b.usage}" styleClass="squarebadge" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.actions')}" styleClass="oneiconbutton">
						<p:commandButton id="btn_toelement" action="#{adminController.toFunctioninputtype(b)}" icon="fa fa-pencil" immediate="true" ajax="false" styleClass="iconbutton" />
					</p:column>
				</p:dataTable>
				<p:panelGrid columns="2" rendered="#{adminModel.functioninputtype != null}">
					<h:outputText value="#{facesContext.translate('label.functioninputtype.id')}" />
					<h:outputText value="#{adminModel.functioninputtype.pk}" />
					<h:outputText value="#{facesContext.translate('label.functioninputtype.name')}" />
					<p:inputText id="name" value="#{adminModel.functioninputtype.name}" />
				</p:panelGrid>
			</p:panel>
		</ui:define>
		<ui:define name="formbuttons">
			<ship:buttongroup rendered="#{adminModel.functioninputtype != null}">
				<p:commandButton id="btn_update" action="#{adminController.doUpdateFunctioninputtype}" value="#{facesContext.translate('button.approve')}" ajax="false" />
				<p:commandButton id="btn_reset" action="#{adminController.toFunctioninputtype(null)}" value="#{facesContext.translate('button.cancel')}" ajax="false" />
			</ship:buttongroup>
		</ui:define>
		<ui:define name="help_de">
			TODO StS: Über diese Seite werden die Einstellungen von vordefinierten Eingabetypen definiert. Das Anlegen neuer Eingabetypen erfordert tiefe Eingriffe in die Anwendung und kann deswegen nicht im laufenden Betrieb erfolgen. 
		</ui:define>
	</ui:composition>
</h:body>
</html>