<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/pridiatemplate.xhtml">
		<ui:define name="location">
			<ui:include src="/pages/admin/submenu.xhtml" />
		</ui:define>
		<ui:define name="body">
			<p:panel header="#{facesContext.translate('title.admin.session.list')}">
				<p:dataTable id="logins" value="#{adminModel.logins}" var="l">
					<p:column headerText="#{facesContext.translate('label.admin.logins.name')}" styleClass="column-description">
						<h:outputText value="#{l.forename} #{l.surname}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.admin.logins.logindate')}" styleClass="column-datetime">
						<h:outputText value="#{l.start}">
							<f:convertDateTime pattern="dd.MM.yyyy HH:mm" /> <!-- TODO: localize date format -->
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
		</ui:define>
		<ui:define name="help_de">
			TODO StS: In dieser Liste wird dargestellt, welche Nutzer seit wann an dieser Anwendung angemeldet sind.  
		</ui:define>
	</ui:composition>
</h:body>
</html>
