<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<p:menubar>
		<p:submenu id="open_submenuusers" label="#{facesContext.translate('navigate.admin.submenu.users')}" styleClass="topmenu #{adminController.onUsers ? 'menuactivated' : ''}">
			<p:menuitem id="to_users" action="#{adminController.toUsers}" styleClass="topmenu #{adminController.onPageUsers ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.users')}" ajax="false" />
			<p:menuitem id="to_approles" action="#{adminController.toApplroles}" styleClass="topmenu #{adminController.onPageApplroles ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.applroles')}" ajax="false" />
			<p:menuitem id="to_usergroup" action="#{adminController.toUsergroup}" styleClass="topmenu #{adminController.onPageUsergroup ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.usergroup')}" ajax="false" />
			<p:menuitem id="to_session" action="#{adminController.toSession}" styleClass="topmenu #{adminController.onPageShowSession ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.session')}" ajax="false" />
			<p:menuitem id="to_logins" action="#{adminController.showLogins}" styleClass="topmenu #{adminController.onPageShowLogins ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.logins')}" ajax="false" />
		</p:submenu>
		<p:submenu id="open_submenuconfig" label="#{facesContext.translate('navigate.admin.submenu.config')}" styleClass="topmenu #{adminController.onConfig ? 'menuactivated' : ''}">
			<p:menuitem id="to_functioninputtype" action="#{adminController.toFunctioninputtype(null)}" styleClass="topmenu #{adminController.onPageFunctioninputtype ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.functioninputtype')}" ajax="false" />
			<p:menuitem id="to_functionoutputtype" action="#{adminController.toFunctionoutputtype}" styleClass="topmenu #{adminController.onPageFunctionoutputtype ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.functionoutputtype')}" ajax="false" />
			<p:menuitem id="to_snippletadmin" action="#{adminController.toSnippletadmin}" styleClass="topmenu #{adminController.onPageSnippletadmin ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.snippletadmin')}" ajax="false" />
			<p:menuitem id="to_functioncategory" action="#{adminController.toFunctioncategoryList}" styleClass="topmenu #{adminController.onPageFunctioncategory ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.functioncategory')}" ajax="false" />
			<p:menuitem id="to_metadatatype" action="#{adminController.toMetadatatypeList}" styleClass="topmenu #{adminController.onPageMetadatatype ? 'menuactivated' : ''}"
				value="#{facesContext.translate('navigate.admin.metadatatype')}" ajax="false" />
		</p:submenu>
		<p:submenu id="open_submenutest" label="#{facesContext.translate('navigate.admin.submenu.test')}" styleClass="topmenu #{adminController.onPageTest ? 'menuactivated' : ''}">
			<p:menuitem id="do_runrtest" action="#{adminController.doRunRTest(facesContext)}" value="#{facesContext.translate('button.test.r')}" ajax="false" styleClass="topmenu" />
			<p:menuitem id="to_fileupload" action="#{adminController.toFileUpload}" value="#{facesContext.translate('navigate.admin.fileupload')}" ajax="false" styleClass="topmenu" />
		</p:submenu>
		<p:menuitem id="to_impressum" action="#{adminController.toImpressum}" value="#{facesContext.translate('navigate.admin.impressum')}"
			styleClass="topmenu #{adminController.onPageImpressum ? 'menuactivated' : ''}" ajax="false" />
		<p:menuitem id="to_maintenance" action="#{adminController.toListMaintenance}" value="#{facesContext.translate('navigate.admin.maintenance')}"
			styleClass="topmenu #{adminController.onPageMaintenanceList ? 'menuactivated' : ''}" ajax="false" />
	</p:menubar>
	<style type="text/css">
		.stayOnTopDistance {
			height: 72px !important;
		}
	</style>
</h:body>
</html>