<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/pridiatemplate.xhtml">
		<ui:define name="location">
			<ui:include src="/pages/admin/submenu.xhtml" />
		</ui:define>
		<ui:define name="body">
			<p:panel>
				<p:accordionPanel id="acc" activeIndex="3">
					<p:tab id="register" title="#{facesContext.translate('title.admin.users.register')}" titleStyleClass="accordionpanelheader">
						<p:panelGrid columns="2">
							<h:outputText value="#{facesContext.translate('admin.table.right.username')}" />
							<p:inputText id="username" value="#{adminModel.userBean.username}" />
							<h:outputText value="#{facesContext.translate('admin.table.right.forename')}" />
							<p:inputText id="forename" value="#{adminModel.userBean.forename}" />
							<h:outputText value="#{facesContext.translate('admin.table.right.surname')}" />
							<p:inputText id="surname" value="#{adminModel.userBean.surname}" />
							<h:outputText value="" />
							<p:commandButton id="btn_adduser" action="#{adminController.doAddUser}" value="#{facesContext.translate('button.add')}" ajax="false" icon="fa fa-plus" />
						</p:panelGrid>
					</p:tab>
					<p:tab id="delete" title="#{facesContext.translate('title.admin.users.remove')}" titleStyleClass="accordionpanelheader">
						<p:panelGrid columns="3">
							<h:outputText value="#{facesContext.translate('label.name')}" />
							<p:selectOneMenu id="delusers" value="#{adminModel.usnrdel}" filter="true">
								<f:selectItem itemValue="" itemLabel="#{facesContext.translate('button.choose')}" />
								<f:selectItems value="#{adminModel.users}" var="u" itemValue="#{u.usnr}" itemLabel="#{u.fullname}" />
							</p:selectOneMenu>
							<ship:removeButton id="btn_deleteuser" action="#{adminController.doDeleteUser}" value="#{facesContext.translate('button.delete')}" isLink="false" title="#{facesContext.translate('title.delete.approve')}"
								tooltip="#{facesContext.translate('button.delete')}" approveButtonLabel="#{facesContext.translate('button.yes')}" cancelButtonLabel="#{facesContext.translate('button.no')}" iconbutton="false">
								<h:outputText value="#{facesContext.translate('button.approve')}" />
							</ship:removeButton>
						</p:panelGrid>
					</p:tab>
					<p:tab id="allow" title="#{facesContext.translate('title.admin.users.add')}" titleStyleClass="accordionpanelheader">
						<p:panelGrid columns="3">
							<h:outputText value="#{facesContext.translate('label.name')}" />
							<p:selectOneMenu id="addusers" value="#{adminModel.usnr}" filter="true">
								<f:selectItem itemValue="" itemLabel="#{facesContext.translate('button.choose')}" />
								<f:selectItems value="#{adminModel.users}" var="u" itemValue="#{u.usnr}" itemLabel="#{u.fullname}" />
							</p:selectOneMenu>
							<p:commandButton id="btn_createlogin" action="#{adminController.doCreateLogin}" value="#{facesContext.translate('button.add')}" ajax="false" icon="fa fa-plus" />
						</p:panelGrid>
					</p:tab>
					<p:tab id="list" title="#{facesContext.translate('title.admin.users.list')}" titleStyleClass="accordionpanelheader">
						<p:dataTable id="sq2users" value="#{adminModel.square2users}" var="s" lang="#{lang.simpleLocaleCode}" saveState="true">
							<p:column headerText="#{facesContext.translate('admin.table.right.username')}" filterable="true" sortable="true" filterBy="#{s.username}" sortBy="#{s.username}" filterMatchMode="contains"
							          styleClass="column-name">
								<h:outputText value="#{s.username}" styleClass="#{s.isExpired ? 'strikethroughred' : ''}" />
							</p:column>
							<p:column headerText="#{facesContext.translate('admin.table.right.forename')}" filterable="true" sortable="true" filterBy="#{s.forename}" sortBy="#{s.forename}" filterMatchMode="contains"
							          styleClass="column-description">
								<h:outputText value="#{s.forename}" styleClass="#{s.isExpired ? 'strikethroughred' : ''}" />
							</p:column>
							<p:column headerText="#{facesContext.translate('admin.table.right.surname')}" filterable="true" sortable="true" filterBy="#{s.surname}" sortBy="#{s.surname}" filterMatchMode="contains"
							          styleClass="column-description">
								<h:outputText value="#{s.surname}" styleClass="#{s.isExpired ? 'strikethroughred' : ''}" />
							</p:column>
							<p:column headerText="#{facesContext.translate('admin.table.user.expire')}" filterable="true" sortable="true" filterBy="#{s.expire}" sortBy="#{s.expire}" filterMatchMode="contains"
							          styleClass="column-datetime">
								<h:outputText value="#{s.expire}">
									<f:convertDateTime pattern="dd.MM.yyyy HH:mm" /> <!-- TODO: localize date format -->
								</h:outputText>
								<ui:fragment rendered="#{s.isExpired}">
									<i class="fa fa-exclamation-triangle" style="color: #aa0000; margin-left: 8px"></i>
								</ui:fragment>
							</p:column>
							<p:column headerText="#{facesContext.translate('admin.table.user.activity')}" filterable="true" sortable="true" filterBy="#{s.isExpired}" sortBy="#{s.isExpired}" filterMatchMode="contains"
							          styleClass="column-userstate">
								<h:outputText value="#{facesContext.translate(s.isExpired ? 'label.expired' : 'label.active')}" />
							</p:column>
							<p:column styleClass="twoiconbuttons">
								<ship:buttongroup>
									<p:menuButton id="btn_addtime" value="" icon="fa fa-clock-o" styleClass="iconbutton">
										<p:menuitem id="addoneyear" action="#{adminController.doAddExpire(s.usnr, 365)}" ajax="false" value="#{facesContext.translate('label.admin.users.add1year')}" style="color: black !important" />
										<p:menuitem id="addsevendays" action="#{adminController.doAddExpire(s.usnr, 7)}" ajax="false" value="#{facesContext.translate('label.admin.users.add1week')}" style="color: black !important" />
										<p:menuitem id="setyesterday" action="#{adminController.doSetExpire(s.usnr, -1)}" ajax="false" value="#{facesContext.translate('label.admin.users.setyesterday')}" style="color: black !important" />
									</p:menuButton>
									<ship:removeButton id="btn_removeuser" action="#{adminController.doRemoveUser(s.usnr)}" value="" isLink="false" title="#{facesContext.translate('title.delete.approve')}"
										tooltip="#{facesContext.translate('button.delete')}" approveButtonLabel="#{facesContext.translate('button.yes')}" cancelButtonLabel="#{facesContext.translate('button.no')}">
										<h:outputText value="#{facesContext.translate('confirmation.delete', s.fullname)}" />
									</ship:removeButton>
								</ship:buttongroup>
							</p:column>
						</p:dataTable>
					</p:tab>
				</p:accordionPanel>
			</p:panel>
		</ui:define>
		<ui:define name="help_de">
			TODO StS: Auf dieser Seite werden die Anwendungsnutzer verwaltet. Nutzer können registriert werden, um im System vorgehalten zu werden. Registrierte Nutzer können für den Zugang zur Anwendung freigeschaltet werden. Nur nicht-registrierte Benutzer können entfernt werden. Wenn ein Nutzer aus der Liste der Webanwendungsnutzer gelöscht wird, wird damit nur sein Zugang zur Anwendung entfernt; er bleibt registriert.  
		</ui:define>
	</ui:composition>
</h:body>
</html>