<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/primodaltemplate.xhtml">
		<ui:define name="title">
			<h:outputText value="#{facesContext.translate('title.item.user', datamanagementModel.release.name)}" />
		</ui:define>
		<ui:define name="body">
			<ship:priuserpanel actionAdd="#{datamanagementController.doAddUserGroupPrivilege}" actionEdit="#{datamanagementController.doEditPrivilege}"
				actionDelete="#{datamanagementController.doDeletePrivilege}" activeElement="#{datamanagementModel.activePrivilege}" list="#{datamanagementModel.groupPrivileges}"
				allGroups="#{datamanagementModel.allGroups}" allUsers="#{datamanagementModel.allSquareUsers}" newGroup="#{datamanagementModel.newGroup}" newUser="#{datamanagementModel.newUsnr}"
				newAcl="#{datamanagementModel.newAcl}" renderRead="false" labelWrite="label.accesslevel.release.1" renderExecute="false" facesContext="#{facesContext}" lang="#{lang.simpleLocaleCode}"
				rendered="#{datamanagementModel.release.acl.write}">
			</ship:priuserpanel>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_cancel" action="#{datamanagementController.toWelcome}" value="#{facesContext.translate('button.overview')}" ajax="false" />
		</ui:define>
	</ui:composition>
</h:body>
</html>