<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ship="http://xmlns.jcp.org/jsf/composite/ship" xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
	<ui:composition template="/pages/pridiatemplate.xhtml">
		<ui:define name="formless">
			<p:dialog id="infowidget" widgetVar="infowidget" modal="true" closable="true" closeOnEscape="true">
				<f:facet name="header">
					<h:outputText value="#{datamanagementModel.infoBean.name}" />
				</f:facet>
				<h:panelGrid columns="2" rowClasses="odd, even" columnClasses="table-cell-key, table-cell-value" styleClass="max90vw">
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.name')}" />
					<h:outputText value="#{datamanagementModel.infoBean.name}" />
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.study')}" />
					<h:outputText value="#{datamanagementModel.infoBean.studyName}" />
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.description')}" />
					<h:outputText value="#{datamanagementModel.infoBean.description}" />
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.date')}" />
					<h:outputText value="#{datamanagementModel.infoBean.releasedate}">
						<f:convertDateTime pattern="dd.MM.yyyy" />
					</h:outputText>
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.location')}" />
					<h:outputText value="#{datamanagementModel.infoBean.location}" />
          <ship:outputBoolean value="#{datamanagementModel.infoBean.backup}" label="#{facesContext.translate('label.datamanagement.release.backup')}" />
          <ship:outputBoolean value="#{datamanagementModel.infoBean.active}" label="#{facesContext.translate('label.datamanagement.release.active')}" />
					<ship:outputBoolean value="#{datamanagementModel.infoBean.rolling}" label="#{facesContext.translate('label.datamanagement.release.type')}" />
					<h:outputText value="" />
					<h:outputText value="#{facesContext.translate('label.datamanagement.release.mergecolumn')}" />
					<h:outputText value="#{datamanagementModel.infoBean.mergecolumnname}" />
				</h:panelGrid>
				<p:panel header="#{facesContext.translate('label.datamanagement.usedinvargroups')}">
					<ui:repeat value="#{datamanagementModel.infoBean.vargroupNames}" var="v">
						<h:outputText value="#{v}" styleClass="squarebadge" />
					</ui:repeat>
				</p:panel>
				<f:facet name="footer">
					<div class="center" style="width: 100%">
						<p:button value="#{facesContext.translate('button.ok')}" type="button" onclick="PF('infowidget').hide()" />
					</div>
				</f:facet>
			</p:dialog>
		</ui:define>
		<ui:define name="body">
			<p:panel header="#{facesContext.translate('label.instruction.datamanagement.choose.release')}">
				<p:dataTable id="releases" value="#{datamanagementModel.releases}" var="r">
					<p:column headerText="#{facesContext.translate('label.datamanagement.release.study')}" filterable="true" filterMatchMode="contains" filterBy="#{r.studyName}" sortBy="#{r.studyName}" sortable="true"
					          styleClass="column-name">
						<h:outputText value="#{r.studyName}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.datamanagement.release.name')}" filterable="true" filterMatchMode="contains" filterBy="#{r.name}" sortBy="#{r.name}" sortable="true"
					          styleClass="column-name">
						<h:outputText value="#{r.name}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.datamanagement.release.description')}" filterable="true" filterMatchMode="contains" filterBy="#{r.description}" sortBy="#{r.description}" sortable="true"
					          styleClass="column-description">
						<h:outputText value="#{r.description}" />
					</p:column>
					<p:column headerText="#{facesContext.translate('label.datamanagement.release.date')}" filterable="true" filterMatchMode="contains" filterBy="#{r.releasedate}" sortBy="#{r.releasedate}" sortable="true"
					          styleClass="column-date">
						<h:outputText value="#{r.releasedate}">
							<f:convertDateTime pattern="dd.MM.yyyy" /> <!-- shouldn't the date format match the chosen langauge? -->
						</h:outputText>
					</p:column>
					<p:column headerText="#{label.actions}">
						<ship:buttongroup>
							<p:commandButton id="btn_read" action="#{datamanagementController.doInfo(r)}" value="" title="#{facesContext.translate('button.show')}" icon="fa fa-info-circle" oncomplete="ship.processed();PF('infowidget').show()" onclick="ship.processing()" update="infowidget" styleClass="iconbutton" rendered="#{r.acl.read}" />
							<p:commandButton id="btn_edit" action="#{datamanagementController.toEdit(r)}" value="" title="#{facesContext.translate('button.edit')}" icon="fa fa-pencil" ajax="false" immediate="true"
								rendered="#{r.acl.write}" styleClass="iconbutton" />
							<p:commandButton id="btn_user" action="#{datamanagementController.toUser(r)}" value="" title="#{facesContext.translate('button.user')}" icon="fa fa-group" ajax="false" immediate="true"
								rendered="#{r.acl.write}" styleClass="iconbutton" />
							<ship:removeButton id="btn_delete" action="#{datamanagementController.doDeleteRelease(r)}" value="" tooltip="#{facesContext.translate('button.remove')}"
								title="#{facesContext.translate('title.delete.approve')}" approveButtonLabel="#{facesContext.translate('button.yes')}" cancelButtonLabel="#{facesContext.translate('button.no')}"
								rendered="#{r.acl.write}">
								<h:outputText value="#{facesContext.translate('confirmation.delete', r.name)}" />
							</ship:removeButton>
							<p:commandButton id="btn_upload" action="#{datamanagementController.toUpload(r)}" value="" icon="fa fa-upload" title="#{facesContext.translate('button.dataupload')}" ajax="false"
								rendered="#{r.acl.write}" styleClass="iconbutton" />
						</ship:buttongroup>
					</p:column>
				</p:dataTable>
			</p:panel>
		</ui:define>
		<ui:define name="formbuttons">
			<p:commandButton id="btn_add" action="#{datamanagementController.toAdd}" value="#{facesContext.translate('button.add')}" immediate="true" ajax="false" />
		</ui:define>
	</ui:composition>
</h:body>
</html>