<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html">
	<table width="100%">
		<tr>
			<td><h:outputText value="#{versionBean.getRVersion(facesContext)}" /></td>
			<td><h:outputText value="#{versionBean.getDbVersion(facesContext)}" /></td>
			<td><div style="text-align: right;">
					Square²
					<h:outputText value="#{appl.getVersion(facesContext)}" />
					<h:outputText value="(#{appl.getStage(facesContext)})" />
				</div></td>
		</tr>
	</table>
</ui:composition>
